image: docker:stable

variables:

services:
  - name: docker:dind
    command: ["--insecure-registry=git.ropod.org:4567"] # self-signed cetificate

stages:
  - test

before_script:
  - docker info
  - apk add --no-cache py-pip
  - pip install docker-compose
  - pip install -r requirements.txt
  - pip install -e .
  - docker-compose -v

test:
  stage: test
  script:
    - python tests/configuration_test.py
  after_script:
    - echo "Stoping all containers"
    - docker stop osm